<div class="main-layout portal-layout">
  <app-sidebar
    [isOpen]="isSidebarOpen"
    [userName]="userName"
    [userRole]="userRole"
    (closeSidebar)="closeSidebar()"
  ></app-sidebar>

  <main class="main-shell portal-main">
    <app-navbar
      *ngIf="isLoggedIn"
      [userName]="userName"
      [userRole]="userRole"
      [showSidebarToggle]="true"
      (toggleSidebar)="toggleSidebar()"
    ></app-navbar>

    <section class="page-content portal-content">
        <router-outlet></router-outlet>
    </section>

    <app-footer></app-footer>
   </main>
</div>
